@charset "utf-8";

/*======================*/
/* General rules.       */
/*======================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

html {
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

/*======================*/
/* Hero banner.         */
/*======================*/
.hero-banner {
    height: 100svh;
    background:#fff url("../img/banner.jpg") center center / cover no-repeat;
    display: grid;
    place-items: center;
}

.hero-banner {
    text-align: left;

    h1{
        font-size: 70px;
        font-weight: 800;
        color: #fff;
        line-height: 1;
    }

    p {
        margin-top: 2px;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        letter-spacing: 0.6px;
    }

    .hero-banner-buttons {
        margin-top: 45px;

        a {
            border-radius: 50px;
            padding: 8px 25px;
            font-size: 17px;
            transition: all 0.25s ease-in-out;
            font-weight: 600;
            text-transform: uppercase;
        }

        .primary {
            background-color: #1489ff;
            color: #fff;
            display: inline-block;
        }

        .primary:hover {
            background-color: #007fff;
            transform: scale(1.1);
        }

        .secundary {
            background-color: #fff;
            color: #1489ff;
            margin-left: 15px;
        }

        .secundary:hover {
            background-color: #e4e3e3;
        }        
    }
}

.hero-banner-button p {
    margin-top: 25px;
    padding-left: 20px;
    background-color: #1489ff;
    color: #fff;
    line-height: 50px;
    font-style: italic;

    a {
        cursor: pointer;
        color: #34f4ff;
    }
    a:hover{
        color: #fff;
    }
}

/*======================*/
/* Sections.            */
/*======================*/
section {
    h2 {
        margin-top: 50px;
        font-size: 28px;
        font-weight: 700;
        text-align: justify;
    }
    h3 {
        margin-top: 50px;
        font-size: 25px;
        font-weight: 500;
        text-align: justify;
    }
    p {
        margin-top: 10px;
        font-size: 17px;
        font-weight: 400;
    }
}


span {
    background-color: #dee4fb;
    display: inline-block;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    vertical-align: baseline;
}